<section class="section hero-section">
  <div class="container">
    <h1 class="title">Hello world</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      quisquam cupiditate eius nam repellendus perferendis eos nostrum, modi, ea
      ipsum blanditiis omnis ipsam obcaecati iure sed, aut reiciendis odio
      asperiores.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod iste tenetur similique possimus sapiente minima aliquid quos optio, eum distinctio nemo dignissimos, repudiandae impedit! Officia, eligendi. Dicta explicabo architecto eum.</p>
  </div>
</section>
